.reg
{
    height: 100vh;
    
    /* background-image: url("rwood.jpg"); */
    
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
color: white;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* background-image: url("rwood2.jpg"); */
    background-size: cover;
  background-position: center;
}
.d
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color:white;
}
.regu
{
    
    background-color:#b1b1b1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 30px; */
    border-color: black;
}
.regi
{
    /* background-color: gray; */
    border-radius: 8px;
    width:"500px";
    height: "700px";

}
.ic
{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 150px;
    margin-left: 125px;
    margin-top: 30px;
}
